* {text-align: center;
    box-sizing: border-box;
 
}



h1  { 
    color: red;
    font-family: 'Noto Serif', serif;

}
p {
    color: black;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Noto Serif', serif;
    font-family: 'Shadows Into Light', cursive;
}
body {
    background-color: brown;
}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}